* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    
}
body:before {
    content: "";
  display: block;
  position: fixed;
 
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(background.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerh{
    display: none;
}
/* Style tab links */
.tablink-container{
margin-left: auto;
margin-right: auto;
display: flex;
width: 300px;
padding: 0;
top: 0;
    position: sticky;
    position: -webkit-sticky;

}
.tablink {
    background-color: black;
    color: #ffb356;
    border: none;
    cursor: pointer;
    padding: 16px 16px;
    width: 300px;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bebas Neue';
    font-size: larger;
    
    
  }
  
  .tablink:hover {
    background: rgb(23,3,37);
    background: linear-gradient(90deg, rgba(23,3,37,1) 0%, rgba(121,9,75,1) 28%, rgba(255,101,0,1) 100%);
    color: black;
  }
  
  
.rajza_cover{
    position: relative;
    top: 0;
   padding: 0;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    width: 300px;

    background: rgb(7,0,36);
background: linear-gradient(90deg, rgba(7,0,36,1) 0%, rgba(63,13,65,1) 43%, rgba(138,54,0,1) 100%);

    color: black;
    
}

    
.nametxt {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    background-color: black;
}
.hovertxt{
    display: block;
    padding-bottom: 4px;
    padding-top: 10px;
    margin: 0;
    z-index: -1;
    
    font-size: 6vh;
    text-align: center;
    
  background: -webkit-linear-gradient(90deg, rgba(23,3,37,1) 0%, rgba(121,9,75,1) 28%, rgba(255,101,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover{
    
    
    width: 300px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #B52278;


}
  





.cookiestxt{
    width: 300px;
    color: #c696df;
    background-color: black;
    padding: 15px 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#email, #message, #submit-button{
    width: 250px;
    background: rgb(23,3,37);
    background: linear-gradient(90deg, rgb(52, 9, 83) 0%, rgba(121,9,75,1) 28%, rgba(255,101,0,1) 100%);
    border: none;
    border-radius: 2px;
font-family: "Bebas Neue";
font-size: larger;
text-align: center;
}
#email {
    
    padding: 10px;
}
#message {
    padding: 10px;
    
}
#submit-button {
    height: 30px;
    padding: 5px;
    
}
#submit-button:hover{
    background: linear-gradient(90deg, rgb(18, 1, 31) 0%, rgb(90, 5, 54) 28%, rgb(170, 68, 0) 100%);
    color: #c696df;
}

.google {
    color: #c696df;
}
.google:hover {
    color: #B52278;
}
.grecaptcha-badge {
    visibility: hidden;
  }

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: black;
}
.footertxt {
    display: block;
    margin: 0%;
    padding: 14.7px;
    font-size: 2vh;
    text-align: center;
    
    color: #3b3b3b;
    width: 300px;
}
.cookie {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 5px 14px;
    
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    background-color: black;
 
    color: #c696df;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .policy {
    color: #c696df;
    text-decoration: underline;
    padding-left: 0; 
  }
  .close {
    display: none;
    padding: 0;
display: inline-block;
    height: 40px;
    background: linear-gradient(90deg, rgba(23,3,37,1) 0%, rgba(121,9,75,1) 28%, rgba(255,101,0,1) 100%);
    width: 20%;
border-radius: 2px;
    text-align: center;
font-size: 26px;
    border: none;
    color: black;
    cursor: pointer;
  }


@media only screen 
and (min-width: 900px) {

.tablink-container{
width: 600px;
}
.tablink {
    width: 600px;       
  }
  

  
.rajza_cover{
    width: 600px;
}

.nametxt {

    width: 600px;
}

.cover{
    width: 600px;
    height: 600px;
}

.cookiestxt{
    width: 600px;

    padding: 15px 10px;

}
#email{
    width: 500px;
}
#message {
    width: 500px;
}
#submit-button {
    width: 500px;
}

.footer {
    width: 600px;
 
}
.footertxt {
    
    padding: 14.7px;
    font-size: 4vh;
    
    width: 600px;
}
.cookie {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 130px;
    width: 25%;
    padding: 0px 14px 14px 14px;
    float: right;
    display: flex;
   
    flex-direction: column;
    background-color: black;
 
    color: #c696df;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .policy {
    color: #c696df;
    text-decoration: underline;
    padding-left: 0; 
    padding-top: 0;
  }
  .close {
    display: none;
    padding-bottom: 2px;
display: inline-block;
    height: 50px;
    background: linear-gradient(90deg, rgba(23,3,37,1) 0%, rgba(121,9,75,1) 28%, rgba(255,101,0,1) 100%);
    width: 100%;
border-radius: 2px;
    text-align: center;
font-size: 26px;
    border: none;
    color: black;
    cursor: pointer;
  }

}